NEXT_PUBLIC_API_URL=http://localhost:3000/api

NEXT_PUBLIC_APP_NAME=Flix

NEXT_PUBLIC_APP_URL=http://localhost:3001

FRONTEND_PORT=3001

FRONTEND_DOMAIN=flix.com

ACME_EMAIL=youssefbashafcis@gmail.com

TRAEFIK_LOG_LEVEL=INFO

API_URL=http://backend:3000/api 
